<!DOCTYPE html>
<html ng-app="giphyApp">
  <head>
    <meta charset="utf-8">
    <title>Favorited Gifs</title>
    <script src="vendors/angular.min.js" charset="utf-8"></script>
    <script src="vendors/angular-route.min.js" charset="utf-8"></script>
    <script src="scripts/module.js" charset="utf-8"></script>
    <script src="scripts/db.controller.js" charset="utf-8"></script>
    <script src="scripts/giphy.service.js" charset="utf-8"></script>
    <script src="routes/favorites.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body ng-controller="DBController as db">
    <h1>Helloworld</h1>
  </body>
</html>
